
<div class="card card-body">
  {{#if error_id}}
    <div class="alert alert-danger">{{error_id}}</div>
  {{/if}}
  <h3>{{#if is_edit}}Edit {{/if}}Video Idea</h3>
  <form action="/ideas{{#if is_edit}}/{{ideas.id}}?_method=PUT{{/if}}" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" class="form-control" value="{{ideas.title}}" requried="requried">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea id="details" name="details" class="form-control">{{ideas.details}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
